
body {
  margin: 10px;
}

.card {
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px lightgray;
  padding: 10px;
  width: 300px;
}

.animal-image {
  width: 300px;
}

.animal-info {
  margin-top: 10px;
  border: 1px solid lightgrey;
  padding: 10px;
}

.animal-info ul {
  margin-left: 0;
  padding-left: 0;
}

.animal-info span {
  font-weight: bold;
}

.animal-fact {
  font-style: italic;
}

.animal-item {
  list-style-type: none;
}