
body {
  margin: 10px;
}

.card {
  background-color: #D48F6A;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px lightgray;
  padding: 10px;
  width: 300px;
}

.animal-image {
  width: 300px;
}

.animal-info {
  background-color: #FFC8AA;
  border: 1px solid lightgrey;
  margin-top: 10px;
  padding: 10px;
}

.animal-info ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.animal-info span {
  font-weight: bold;
}

.animal-fact {
  font-style: italic;
}

